<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (categorie(); as categorieRef) {
      <div>
        <h2 data-cy="categorieDetailsHeading"><span>Categorie</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ categorieRef.id }}</span>
          </dd>
          <dt><span>Libelle</span></dt>
          <dd>
            <span>{{ categorieRef.libelle }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ categorieRef.description }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
        </button>

        <button type="button" [routerLink]="['/categorie', categorieRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
        </button>
      </div>
    }
  </div>
</div>
