<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-produit-commande-heading" data-cy="ProduitCommandeCreateUpdateHeading">Créer ou éditer un Produit Commande</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_qte">Qte</label>
          <input type="number" class="form-control" name="qte" id="field_qte" data-cy="qte" formControlName="qte" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_prixUnitaire">Prix Unitaire</label>
          <input
            type="number"
            class="form-control"
            name="prixUnitaire"
            id="field_prixUnitaire"
            data-cy="prixUnitaire"
            formControlName="prixUnitaire"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_commande">Commande</label>
          <select
            class="form-control"
            id="field_commande"
            data-cy="commande"
            name="commande"
            formControlName="commande"
            [compareWith]="compareCommande"
          >
            @if (editForm.get(['commande'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (commandeOption of commandesSharedCollection; track $index) {
              <option [ngValue]="commandeOption">{{ commandeOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['commande'])!.invalid && (editForm.get(['commande'])!.dirty || editForm.get(['commande'])!.touched)) {
          <div>
            @if (editForm.get(['commande'])?.errors?.required) {
              <small class="form-text text-danger">Ce champ est obligatoire.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_produit">Produit</label>
          <select
            class="form-control"
            id="field_produit"
            data-cy="produit"
            name="produit"
            formControlName="produit"
            [compareWith]="compareProduit"
          >
            @if (editForm.get(['produit'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (produitOption of produitsSharedCollection; track $index) {
              <option [ngValue]="produitOption">{{ produitOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['produit'])!.invalid && (editForm.get(['produit'])!.dirty || editForm.get(['produit'])!.touched)) {
          <div>
            @if (editForm.get(['produit'])?.errors?.required) {
              <small class="form-text text-danger">Ce champ est obligatoire.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
