<div>
  <h2 id="page-heading" data-cy="ProduitCommandeHeading">
    <span>ProduitCommandes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-produit-commande"
        [routerLink]="['/produit-commande/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Créer un nouveau Produit Commande</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (produitCommandes().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Aucun Produit Commande trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="qte">
              <div class="d-flex">
                <span>Qte</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prixUnitaire">
              <div class="d-flex">
                <span>Prix Unitaire</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="commande.id">
              <div class="d-flex">
                <span>Commande</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="produit.id">
              <div class="d-flex">
                <span>Produit</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (produitCommande of produitCommandes(); track trackId(produitCommande)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/produit-commande', produitCommande.id, 'view']">{{ produitCommande.id }}</a>
              </td>
              <td>{{ produitCommande.qte }}</td>
              <td>{{ produitCommande.prixUnitaire }}</td>
              <td>
                @if (produitCommande.commande) {
                  <div>
                    <a [routerLink]="['/commande', produitCommande.commande.id, 'view']">{{ produitCommande.commande.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (produitCommande.produit) {
                  <div>
                    <a [routerLink]="['/produit', produitCommande.produit.id, 'view']">{{ produitCommande.produit.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/produit-commande', produitCommande.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/produit-commande', produitCommande.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(produitCommande)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
